{%  extends 'base.html' %}
    {% block title %}Anasayfa - {{ block.super }}{% endblock %}
    {% block body %}

        <div class="container-fluid">
            <div class="row" style="margin-bottom 30px;">
                <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #ff290c; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #0bff52; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #e2ff13; height: 100px">2.satır</div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-bottom 30px;">
                <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #ff290c; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #0bff52; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #e2ff13; height: 100px">2.satır</div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="margin-bottom 30px;">
                <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #ff290c; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #0bff52; height: 100px">2.satır</div>
                <div class="col-md-3 col-sm-6" style="background-color: #e2ff13; height: 100px">2.satır</div>
            </div>
        </div>


    {% endblock %}